.functions{
    width: 100%;
    background-color: var(--cor-bg-branco);
}

.title-section{
    color: var(--cor-title);
    font-size: var(--size-font-h2);
    font-family: var(--font-title);
    padding-top: 50px;
    text-align: center;
}

.container__functions{
    width: 70%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    
}

.card-functions{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card-functions img{
    width: 60px;
}

.info-functions h3{
    color: var(--cor-title);
    font-family: var(--font-title);
    font-size: 18px;
    text-align: center;
    padding: 5px 0;
}
.info-functions p{
    color: var(--cor-text);
    font-family: var(--font-text);
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width: 789px){
    .container__functions{
      flex-direction: column;
      justify-content: center;
      align-items: center;
        
    }

}

@media screen and (max-width: 375px){
    .title-section{
        
        font-size: 25px;
       
    }
    

}