.app{
    width: 100%;
    
    background-color: var(--cor-bg-claro);
    display: flex;
    justify-content: center;
    align-items: center;

}

.info__app{
    width: 50%;

    
}

.info__app h3{
    color: var(--cor-title);
    font-size: 32px;
    font-family: var(--font-title);
    padding: 0 30px;
    padding-left: 30px;

}

.info__app p{
    
    color: var(--cor-text);
    font-size: 16px;
    font-family: var(--font-text);
    margin-bottom: 30px;
    padding: 40px;

}

.logo__info-app img{
    margin-right: 1px;
    padding-left: 40px;
    
}

.image__app{
    width: 50%;
    padding-left: 90px;
}

.image__app img{
    width: 400px;
    margin-top: 50px;
}

@media screen and (max-width: 800px){
    .info__app h3{
        color: var(--cor-title);
        font-size: 22px;
        font-family: var(--font-title);
        margin-bottom: 10px;
        padding-left: 0;
    
    }

    .logo__info-app img{
        width: 120px;
        padding-left: 0;
        
    }

    .image__app img{
    width: 300px;
    margin-top: 50px;
    
   }

   .logo__info-app{
       margin-left: 40px;
   }
   .image__app{
    width: 50%;
    padding-left: 0;
}
.info__app p{
  
    padding: 0;

}



}

@media screen and (max-width: 720px){
    .app{
        flex-direction: column;
    
    }
    .image__app img{
        width: 250px;
        margin-top: 50px;
       }

       .info__app{
        padding: 30px 0;
    
        
    }

    .info__app{
        width: 80%;
    
        
    }
    

}