.plans{
    width: 100%;
    background-color: var(--cor-bg-branco);
    margin-bottom: 20px;
}

.container__plans{
    width: 85%;
    margin: auto;
    
}

.text__section-plan{
    width: 70%;
    margin: auto;
    padding-bottom: 40px;
}

.text__section-plan .info__text-plan{
    text-align: center;
    color: var(--cor-text);
    font-family: var(--font-text);
    font-size: 18px;

}

.cards__plans{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.card__plan{
    margin: 10px;
    width: 350px;
    height: 471px;
    background-color: var(--cor-bg-claro);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.card__plan h3 {
    width: 100%;
    color: var(--cor-title);
    font-family: var(--font-title);
    text-align: center;
    font-size: 24px;
    
    

}

.price__plan{
    display: flex;
    
}

.price__plan .moeda{
    font-family: var(--font-number);
    color: var(--cor-title);
    font-size: 20px;
    margin-top: 10px;
}

.price__plan .valor{
    font-family: var(--font-number);
    color: var(--cor-title);
    font-size: 50px;
    font-weight: 700;
}

.price__plan .mes{
    font-family: var(--font-number);
    color: var(--cor-title);
    font-size: 24px;
    margin-top: 23px;

}

.card__plan .info__card{
    padding: 0 5px;
    font-size: 18px;
    font-family: var(--font-text);
    color: var(--cor-text);
    text-align: center;
    
}

.btn__card-plan{
    width: 230px;
    height: 43px;
    border: none;
    border-radius: 50px;
    background-color: var(--cor-btn);
    color: var(--cor-bg-claro);
    box-shadow: 5px 5px 10px #6db6eb;
    font-family: var(--font-text);
    font-size: 20px;
    cursor: pointer;
    
}








.card__plan-special{
    width: 350px;
    height: 471px;
    background-color: var(--cor-title);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.card__plan-special h3 {
    width: 100%;
    color: var(--cor-bg-branco);
    font-family: var(--font-title);
    text-align: center;
    font-size: 24px;
    
    

}

.special__plan .special{
    font-family: var(--font-text);
    color: var(--cor-bg-branco);
    background-color: var(--cor-btn);
    text-transform: uppercase;
    padding: 5px 12px;
    border-radius: 50px;

}

.card__plan-special .price__plan{
    display: flex;
    
}

.card__plan-special .price__plan .moeda{
    font-family: var(--font-number);
    color: var(--cor-bg-branco);
    font-size: 20px;
    margin-top: 10px;
}

.card__plan-special .price__plan .valor{
    font-family: var(--font-number);
    color: var(--cor-bg-branco);
    font-size: 50px;
    font-weight: 700;
}

.card__plan-special .price__plan .mes{
    font-family: var(--font-number);
    color: var(--cor-bg-branco);
    font-size: 24px;
    margin-top: 23px;

}

.card__plan-special .info__card{
    padding: 0 5px;
    font-size: 18px;
    font-family: var(--font-text);
    color: var(--cor-bg-branco);
    text-align: center;
    
}

.btn__card-plan{
    width: 230px;
    height: 43px;
    border: none;
    border-radius: 50px;
    background-color: var(--cor-btn);
    color: var(--cor-bg-claro);
    box-shadow: 5px 5px 10px #6db6eb;
    font-family: var(--font-text);
    font-size: 20px;
    cursor: pointer;
    
}

@media screen and (max-width: 800px) {
    .cards__plans{
        flex-direction: column;
        display: flex;
        justify-content: space-between;
    }

    .container__plans{
        width: 85%;
        margin: auto;
        
    }

    .card__plan, .card__plan-special{
        width: 280px;
        margin: 0;
        
    }
}

@media screen and (max-width: 1000px) {
    .cards__plans{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        
    }

    
}











